<launch>
    <node pkg="pandora_sensing" type="sensing.py" name="sensing" output="screen"/>
    <node pkg="pandora_perception" type="perception.py" name="perception" output="screen"/>
    <node pkg="pandora_control" type="control.py" name="control" output="screen"/>
    <node pkg="pandora_actuation" type="actuation.py" name="actuation" output="screen"/>
</launch>